* {
  color: white;
}
.App {
  text-align: center;
}

body {
  background-color: black;
}



@font-face {
  font-family: 'Shilla_CultureB-Bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/Shilla_CultureB-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

.main {
  font-family: 'Shilla_CultureB-Bold';
  color: white;
  /* background: linear-gradient(red, white); */
}

h1 {
  font-family: 'Shilla_CultureB-Bold';
}

@font-face {
  font-family: 'yg-jalnan';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.btn {
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid white;
  font-family: 'yg-jalnan';
  padding: 10px;
}

.btn:hover {
  color: black;
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  font-family: 'yg-jalnan';
  padding: 10px;
}

.smae {
  color: white;
  background-color: black;
  border: 1px solid white;
}